body{
    background-color: rgb(230,230,250);
}
h1{
    text-align: center;
}




button {
    background: #2030c2;
    background-image: -webkit-linear-gradient(top, #7876dd, #3c3272);
    background-image: -moz-linear-gradient(top, #7876dd, #3c3272);
    background-image: -ms-linear-gradient(top, #7876dd, #3c3272);
    background-image: -o-linear-gradient(top, #F63D3D, #D73B6E);
    background-image: -webkit-gradient(to bottom, #F63D3D, #D73B6E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #000000;
    font-family: helvetica;
    font-size: 30px;
    font-weight: 80;
    padding: 10px;
    -webkit-box-shadow: 4px 1px 20px 0 #000000;
    -moz-box-shadow: 4px 1px 20px 0 #000000;
    box-shadow: 4px 1px 20px 0 #000000;
    border: solid #FFFFFF 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
